---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}, {{ page.author }}</p>
<div class="post">
  {{ content }}
</div>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="giscus"></div>
  <script src="https://giscus.app/client.js"
    data-repo="mingfa-w/mingfa-w.github.io"
    data-repo-id="R_kgDONAa5mg"
    data-category="General"
    data-category-id="DIC_kwDONAa5ms4CpmYU"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async>
  </script>
</body>
</html>